<div id="<%= dom_id comment %>">
  <p>
    <% if comment.user.avatar.attached? %>
      <br>
      <%= image_tag comment.user.avatar.variant(:thumb) %>
    <% end %>
  </p>

  <p>
    <% if comment.user.name.present? %>
      <strong><%= User.human_attribute_name(:name) %>:</strong>
      <%= comment.user.name %>
    <% else %>
      <strong><%= User.human_attribute_name(:email) %>:</strong>
      <%= comment.user.email %>
    <% end %>
  </p>

  <p>
    <strong><%= Comment.human_attribute_name(:body) %>:</strong>
    <%= comment.body %>
  </p>

  <p>
    <strong><%= Comment.human_attribute_name(:created_at) %>:</strong>
    <%= comment.created_at %>
  </p>
</div>

<nav class="page-nav">
  <%= button_to t('views.common.destroy', name: Comment.model_name.human.downcase), [comment.commentable, comment], method: :delete %>
</nav>
