<div id="<%= dom_id comment %>">
  <p>
    <% if comment.user.avatar.attached? %>
      <br>
      <%= image_tag comment.user.avatar.variant(:thumb) %>
    <% end %>
    <strong><%= comment.user.name %>:</strong><br>
    <strong><%= Comment.human_attribute_name(:body) %>:</strong>
    <%= comment.body %>
  </p>
</div>
