<h1><%= t('views.common.title_show', name: Book.model_name.human) %></h1>

<div class="show-item">
  <%= render @book %>
</div>

<h3><%= t('views.common.title_index', name: Comment.model_name.human) %></h3>
<div id="comments" class="index-items">
  <% if @comments.blank? %>
      <p><strong><%= t('views.common.not_exist', name: Comment.model_name.human) %></strong></p>
  <% else %>
    <% @comments.each do |comment| %>
      <div class="index-item">
          <%= render '/comments/comment', { comment: comment } %>
      </div>
    <% end %>
  <% end %>
</div>

<h3><%= t('views.common.new', name: Comment.model_name.human) %></h3>
<%= render '/comments/form', { commentable: @book } %>

<nav class="page-nav">
  <%= link_to t('views.common.edit', name: Book.model_name.human.downcase), edit_book_path(@book) %> |
  <%= link_to t('views.common.back', name: i18n_pluralize(Book.model_name.human.downcase)), books_path %>

  <%= button_to t('views.common.destroy', name: Book.model_name.human.downcase), @book, method: :delete %>
</nav>
