<div id="<%= dom_id report %>">
  <p>
    <strong><%= User.human_attribute_name(:name) %>:</strong>
    <%= report.user.name_or_email %>
  </p>
  
  <p>
    <strong><%= Report.human_attribute_name(:title) %>:</strong>
    <%= report.title %>
  </p>

  <p>
    <strong><%= Report.human_attribute_name(:contents) %>:</strong>
    <%= report.contents %>
  </p>
</div>
