<h1><%= t('views.common.title_show', name: Report.model_name.human) %></h1>

<div class="show-item">
  <%= render @report %>
</div>

<h3><strong>コメント一覧</strong></h3>
<div id="comments" class="index-items">
  <% if @comments.nil? || @comments.empty? %>
      <p><strong>コメントはありません。</strong></p>
  <% else %>
    <% @comments.each do |comment| %>
      <div class="index-item">
        <p>
          <%= render '/comments/comment', comment: comment %>
        </p>
      </div>
    <% end %>
  <% end %>
</div>

<h3><strong>新規投稿</strong></h3>
<%= render '/comments/form', comment: @report.comments.build %>

<nav class="page-nav">
  <%= link_to t('views.common.edit', name: Report.model_name.human.downcase), edit_report_path(@report) %> |
  <%= link_to t('views.common.back', name: i18n_pluralize(Report.model_name.human.downcase)), reports_path %>

  <%= button_to t('views.common.destroy', name: Report.model_name.human.downcase), @report, method: :delete %>
</nav>
