<h1><%= t('views.common.title_show', name: Report.model_name.human) %></h1>

<div class="show-item">
  <%= render @report %>
</div>

<h3><strong><%= t('views.common.title_index', name: Comment.model_name.human) %></strong></h3>
<div id="comments" class="index-items">
  <% if @comments.nil? || @comments.empty? %>
      <p><strong><%= t('views.common.not_exist', name: Comment.model_name.human) %></strong></p>
  <% else %>
    <% @comments.each do |comment| %>
      <div class="index-item">
        <p>
          <%= render '/comments/comment', comment: comment %>
        </p>
      </div>
    <% end %>
  <% end %>
</div>

<h3><strong><%= t('views.common.title_new', name: Comment.model_name.human) %></strong></h3>
<%= render '/comments/form', comment: @report.comments.build %>

<nav class="page-nav">
  <% if @report.user.id == current_user.id %>
    <%= link_to t('views.common.edit', name: Report.model_name.human.downcase), edit_report_path(@report) %> |
  <% end %>
  <%= link_to t('views.common.back', name: i18n_pluralize(Report.model_name.human.downcase)), reports_path %>
  <% if @report.user.id == current_user.id %>
    <%= button_to t('views.common.destroy', name: Report.model_name.human.downcase), @report, method: :delete %>
  <% end %>
</nav>
